<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="first_name-field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="last_name-field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="phone_number-field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="birthday-field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="email-field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
